<!DOCTYPE html>
<html>
  <head>
    <title>Bluebottle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <header>
        <%= link_to orders_path do %>
          <%= image_tag  "logo.png" %>
        <% end %>
      </header>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
